.promo {
  width: 100%;
  background-color: #e8e8e8;
  margin-bottom: 100px; }
  .promo__container {
    height: 615px;
    width: 1140px;
    margin: auto;
    background: url(../../img/promo.jpg) -14px -50px no-repeat; }
  .promo__text {
    margin-top: 210px;
    float: left;
    padding-left: 12px;
    border-left: 12px solid #f16d7f; }
    .promo__text-mini {
      color: #222222;
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 32px; }
    .promo__text-big {
      color: #222222;
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 43px;
      padding-bottom: 19px; }

.specials {
  width: 100%;
  margin-bottom: 100px; }
  .specials__container {
    display: flex;
    width: 1140px;
    height: 823px;
    margin: auto; }
    .specials__container_left {
      width: 580px;
      padding-right: 20px; }
  .specials__link {
    position: relative;
    display: block;
    width: 560px;
    float: left;
    text-decoration: none;
    transition: transform 0.3s; }
    .specials__link:hover {
      transform: scale(1.03);
      box-shadow: 3px -1px 5px rgba(0, 0, 0, 0.16); }
    .specials__link_background-grey {
      background-color: #dadad2;
      height: 260px; }
    .specials__link_background-grey img {
      float: right; }
  .specials__text {
    position: absolute;
    top: 25px;
    height: 82px;
    padding: 16px 18px;
    background-color: #ffffff; }
    .specials__text-big {
      color: #f16d7f;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 0.75px;
      text-transform: uppercase; }
    .specials__text-mini {
      color: #222222;
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 0.45px;
      text-transform: uppercase; }
  .specials__link_margin-bottom {
    margin-bottom: 20px; }

.banner {
  width: 100%;
  margin-bottom: 100px; }
  .banner__container {
    display: flex;
    width: 1140px;
    height: 530px;
    margin: auto;
    background-color: #222224; }
  .banner__left {
    width: 767px;
    height: 530px;
    background: url(../../img/banner.jpg) center center no-repeat; }
  .banner__text {
    margin: 145px 0 0 40px; }
    .banner__text-big {
      color: #ffffff;
      font-size: 54px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 40px;
      margin-bottom: 15px; }
    .banner__text-mini {
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 32px;
      letter-spacing: 0.9px;
      line-height: 25px; }
  .banner__right {
    width: 373px;
    padding: 48px 36px; }

.advantage__head {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 13px; }

.advantage__text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px; }

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 53px; }
  .advantage__item:last-child {
    margin-bottom: 0; }

.advantage__description {
  width: 225px; }

.advantage__pic {
  position: absolute;
  top: -5px; }

.advantage__icon {
  position: relative; }

.pink700 {
  color: #f16d7f; }

/*# sourceMappingURL=index-page.css.map */
