.product {
  width: 100%; }
  .product__container {
    width: 1140px;
    margin: auto;
    margin-top: -86px;
    position: relative;
    z-index: 2; }
  .product__box {
    width: 100%;
    padding: 73px 247px 122px;
    background-color: #fff;
    border: 1px solid #eaeaea; }
  .product__carousel {
    width: 100%;
    height: 777px;
    position: relative;
    background-color: #f7f7f7; }
  .product__description {
    width: 100%; }
  .product__img {
    height: 100%;
    background: url(../../img/product_img.jpg) center center no-repeat;
    background-size: auto 100%; }
  .product__features {
    width: 645px;
    text-align: center;
    padding-bottom: 43px;
    border-bottom: 1px solid #eaeaea; }
  .product__name {
    margin: 34px auto 67px;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 15px; }
  .product__text {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 28px; }
  .product__head {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .product__other {
    display: flex;
    justify-content: center; }

.carousel__container {
  width: 1140px;
  height: 690px;
  margin: auto;
  background-color: #f7f7f7; }

.carousel__controls {
  width: 47px;
  height: 47px;
  position: absolute;
  padding: 15px 19px;
  background-color: #d8d8d8; }
  .carousel__controls_left {
    top: 365px;
    left: 0; }
  .carousel__controls_right {
    top: 365px;
    right: 0; }

.carousel__arrow {
  color: #fff; }

.cart__button {
  width: 537px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f16d7f;
  background-color: #fff;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  transition: color, background-color 0.3s; }
  .cart__button:hover {
    color: #ffffff;
    background-color: #f16d7f; }
  .cart__button:hover .pink__cart {
    background: url(../../img/cart_white.svg) center center no-repeat; }

.pink__cart {
  width: 26px;
  height: 24px;
  margin-right: 15px;
  background: url(../../img/cart_pink.svg) center center no-repeat; }

.price {
  margin: 37px auto 0;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700; }

.collection__name {
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea; }

.material {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin-right: 22px; }

.dark__grey {
  color: #2f2f2f; }

.designer {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin-left: 22px; }

.long {
  width: 642px; }

.pink__line {
  width: 63px;
  height: 3px;
  position: absolute;
  background-color: #ef5b70;
  top: 25px; }

.choose__text {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  margin: 0 22px 15px 0; }

.choose__block {
  width: 537px;
  margin: 63px auto 28px;
  display: flex;
  justify-content: space-between; }

.color__form {
  position: relative; }
  .color__form::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 14px;
    width: 12px;
    height: 12px;
    background-color: #ef5b70;
    z-index: 1; }

.choose__list {
  width: 144px;
  height: 35px;
  position: relative;
  border: 1px solid #eaeaea;
  padding: 8px 13px 10px 33px;
  text-transform: capitalize;
  color: #777;
  cursor: pointer;
  outline: none; }
  .choose__list-arrow {
    position: absolute;
    top: 11px;
    right: 7px;
    background-color: #fff;
    font-size: 10px; }

.size__form {
  position: relative; }

.size__list {
  width: 144px;
  height: 35px;
  position: relative;
  border: 1px solid #eaeaea;
  padding: 8px 13px 10px 13px;
  text-transform: capitalize;
  color: #777;
  cursor: pointer;
  outline: none; }

.required__star {
  color: red;
  font-size: 15px; }

.quantity__input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  padding: 10px 13px;
  color: #bcbcbc;
  cursor: pointer;
  outline: none; }
  .quantity__input_empty {
    margin-top: 5px;
    color: red;
    font-weight: 700;
    line-height: 16px; }

.uppercase {
  text-transform: uppercase; }

.cart__add {
  display: flex;
  justify-content: center; }

.more__products {
  width: 100%; }
  .more__products-container {
    width: 1140px;
    margin: 120px auto 75px;
    text-align: center; }
  .more__products-head {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 72px; }

/*# sourceMappingURL=product.css.map */
